{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block head_meta %}{% endblock %}

    <title>{% block head_title %}{% endblock %}Website Title</title>

    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/core.css' %}">
</head>
<body>
    {% include 'partials/navbar.html' %}

    {% block content %}{% endblock %}

    {% block body_js %}{% endblock %}
</body>
</html>